<section>
  <div h-for="user, index, key in items">
    <h3>{{user.value.name}} -- {{index}} -- {{key}}</h3>
    <p>{{user.value.age}} - {{user.value.address.city}}</p>
    <button onclick="clickHandler(index, key, event, user.value.name)">Click me</button>
  </div>

  <button onclick="clickHandler">Click me</button>
  <article>
    <h2>Hello</h2>
    <p>I would like to present</p>
  </article>
  <myArticle> </myArticle>

  <!-- <myArticle2> </myArticle2> -->
  <!-- <ReactiveTest></ReactiveTest> -->
  <!--        <button>-->
  <!--            Hello, im button from the app.html, no the article-->
  <!--        </button>-->
  <!--        <myArticle>-->
  <!--            <button disabled="{{badInputs}}">-->
  <!--                Disabled button inside of an article inside of an article-->
  <!--            </button>-->
  <!--            <list>-->
  <!--                <span>-->
  <!--                In the list of the article is this-->
  <!--            </span>-->
  <!--            </list>-->
  <!--        </myArticle>-->

  <!--    <h4>-->
  <!--        And here is the List-->
  <!--    </h4>-->
  <!--    <list></list>-->
</section>
