<section>
    <article>
        <h2>Hello</h2>
        <p>I would like to present</p>
    </article>
    <myArticle>
        <button>
            Hello, im button from the app.html, no the article
        </button>
        <myArticle>
            <button disabled>
                Disabled button inside of an article inside of an article
            </button>
        </myArticle>
    </myArticle>
    <myArticle>
        <button>
            Hello, im SECOND BUTTON from the app.html, no the article
        </button>
    </myArticle>
    Above me should be article and a button in it
</section>