<section>
    <article>
        <h2>Hello</h2>
        <p>I would like to present</p>
    </article>
    <myArticle>
<!--        <button>-->
<!--            Hello, im button from the app.html, no the article-->
<!--        </button>-->
<!--        <myArticle>-->
<!--            <button disabled="{{badInputs}}">-->
<!--                Disabled button inside of an article inside of an article-->
<!--            </button>-->
<!--            <list>-->
<!--                <span>-->
<!--                In the list of the article is this-->
<!--            </span>-->
<!--            </list>-->
<!--        </myArticle>-->
    </myArticle>

<!--    <h4>-->
<!--        And here is the List-->
<!--    </h4>-->
<!--    <list></list>-->

</section>